allow init battery_data_device:chr_file ioctl;
allow init dumpstate:fd use;
allow init dumpstate:fifo_file write;
allow init rtc_device:chr_file ioctl;
allow init self:capability2 block_suspend;
allow init self:netlink_route_socket read;
allow init self:socket { read write };
allow init netd:unix_stream_socket connectto;
allow init netd_socket:sock_file write;
allow init node:udp_socket node_bind;
allow init port:udp_socket name_bind;
allow init property_socket:sock_file write;
allow init qmuxd_socket:sock_file write;
allow init self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write setopt write };
allow init self:netlink_socket { bind create read write };
allow init self:netlink_xfrm_socket { bind create };
allow init self:rawip_socket { create getopt setopt write };
allow init self:tcp_socket { create ioctl };
allow init self:udp_socket { bind ioctl setopt };
allow init cameraserver:fd use;
allow init diag_device:chr_file { ioctl write };
allow init graphics_device:chr_file ioctl;
allow init netmgrd_socket:sock_file write;
allow init self:netlink_xfrm_socket { getattr nlmsg_write read setopt write };
allow init self:udp_socket ioctl;
allow init graphics_device:chr_file write;
allow init ion_device:chr_file write;
allow init self:udp_socket ioctl;
allow init video_device:chr_file { ioctl write };
